.product {
  // display: flex;
  flex-direction: column;
  
  .productImg {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-inline: auto;

    .img {
      width: min(9rem, 100%);
    }

    .deleteBtn {
      display: flex;
      position: absolute;
      background: none;
      border: none;
      color: red;
      font-weight: 700;
      right: -.5rem;
      top: -0.7rem;
    }
  }


  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: min(13rem, 100%);
    margin-inline: auto;
    font-size: clamp(1rem, 4vw, 1.6rem);
  }

}

.ogPrice {
  width: min(9rem, 100%);
  font-size: clamp(1rem, 2vw, 1.6rem);
  // border: solid blue 1px;
}

.qty {

  .addSubButtons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .addBtn {
      background: none;
      border: none;
      color: var(--white);
    }

    .quantity {
      font-size: clamp(1rem, 4vw, 1.6rem);
    }

    .subBtn {
      background: none;
      border: none;
      color: var(--white);
    }
  }
}

.icon {
  height: 2.39rem;
  width: min(9.84rem, 10vw);
}

.price {
  width: min(9rem, 100%);
  font-size: clamp(1rem, 2vw, 1.6rem);
  // border: solid blue 1px;
}
