.layout {
  height: 100vh;
  overflow-y: hidden;
  
  .main {
    display: flex;

    .sidebar {
      display: flex;
      overflow-y: scroll;
      width: 30rem;
      height: calc(100vh - var(--header-height));
    }
    
    .routes {
      overflow-y: scroll;
      width: 100%;
      height: calc(100vh - var(--header-height));
    }
  }
}

@media screen and (max-width: 830px) {
  .sidebar {
    display: none !important;
  }
}