.card {
  width: 25.6rem;
  height: 32rem;
  background: var(--white);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  // filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
  box-shadow:  6px 6px 12px #d9d9d9,
             -6px -6px 12px #ffffff;
  padding: 0 1.8rem;
  position: relative;

  
  .boxImg {
    margin-top: 0.7rem;
    border-radius: 10px;
    
    .free_shipping {
      background: var(--green-500);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 1.2rem;
      height: 1.6rem;
      text-align: center;
      color: var(--white);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px 15px 0 0;
    }
    
    .image {
      margin-top: 0.5rem;
      width: 16.2rem;
      height: 16.2rem;
      object-fit: contain;
      border-radius: 10px;
      border: 1px solid rgb(227, 227, 227);
      
    }
    .image:hover{
      background: white;
      border-radius: 10px;
      transform: scale(180%);
      transition: transform 300ms;
    }
  }
  
  .title {
    margin-top: 2.5rem;
    width: 100%;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    height: 3.3rem;
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    color: var(--green-500);
    font-weight: 600;
    width: 16.2rem;
    display: flex;
    font-size: 2rem;
    justify-content: end;
  }

  .button {
    background: var(--blue-500);
    width: 20rem;
    height: 3.46rem;
    border-radius: 7px;
    border: none;
    color: white;
    margin-top: 0.56rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
