main {
  width: calc(100vw - var(--sidebar-width));
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
  border: 1px solid red;
  margin-left: auto;
}

.products {
  border: 1px solid red;
}
