.container {
  padding: 1rem;
  width: 100%;
  height: 100%;
  color: var(--white);

  .topProductBox {
    margin: auto;
    display: flex;
    border-radius: 10px;
    max-width: 120.4rem;
    height: 60rem;
    background: var(--primary-color-500);

    .topProdLeft {
      display: flex;
      width: 55%;
      height: 100%;
      align-items: center;
      padding: 2rem;
      border-right: 2px solid var(--primary-color-400);
      
      .imgList {
        display: flex;
        flex-direction: column;
        width: 11rem;
        height: 80%;
        overflow-y: scroll;
        gap: 1rem;
        
        img {
          border-radius: 7px;
        }
      }
      
      .mainProdImg {
        max-width: 48rem;
        max-height: 48rem;
        margin: auto;
        object-fit: contain;
        border-radius: 10px;
      }
    }
    
    .topProdRight {
      width: 45%;
      padding: 2rem 4rem;
      margin-top: 3.5rem;
      height: fit-content;

      .aboveTitleInfos {
        display: flex;
        gap: 1rem;
        width: fit-content;
        font: 400 1.3rem 'Roboto';
        text-transform: capitalize;

        .condition {

        }

        .quantity {

        }

        .shipping {
          color: var(--additional-color-1);
          font-style: italic;
        }

      }

      .title {
        font-weight: 800;
        font-family: 'Poppins';
        line-height: clamp(2.5rem, 10vw, 4.5rem);
        margin-bottom: 1.5rem;
        font-size: clamp(2rem, 10vw, 4rem);     
      }
      
      .originalPrice {
        
      }
      
      .price {
        font: 500 3.5rem 'Roboto';
        color: var(--additional-color-1);
      }

      .installments {
        
      }

      button {
        margin-top: 2rem;
        max-width: 30rem;
        height: 4rem;

        font-size: 1.7rem;

        svg {
          height: 2.5rem;
          width: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1480px) {
  .container {
    height: fit-content;
    .topProductBox {
      flex-direction: column;
      height: fit-content;

      .topProdLeft {
        width: 100%;
        flex-direction: column-reverse;
        gap: 1.5rem;
        border-right: none;
        border-bottom: 2px solid var(--primary-color-400);

        .imgList {
          flex-direction: row;
          width: min(48rem, 100%);
          justify-content: start;
          overflow-x: scroll;
          overflow-y: auto;
          padding: 0.5rem 0;

          img {
            border-radius: 7px;
            width: 7rem;
            height: 7rem;
            object-fit: cover;
          }
        }

        .mainProdImg {
          max-width: min(48rem, 100%);
          height: 48vw;
        }
      }

      .topProdRight {
        margin-top: 0;
        width: 100%;

        button {
          // font-size: clamp(0.8rem, 90vw, 1.7rem) !important;
          font-size: clamp(1.3rem, 4vw, 1.7rem) !important;
          
          svg {
            width: clamp(10%, 1vw, 80%) !important;
            
          }
        }
      }
    }
  }
}
