.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color-600);
  width: 100%;
  height: var(--header-height);
  padding: 0 2.5rem;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    // border: solid red 1px;

    .bag {
      max-height: 6.6rem;
      max-width: 6.6rem;
      background: var(--white);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      padding: 0.7rem;

      .img {
        width: 100%;
        height: 100%;
      }
    }

    .h1 {
      color: var(--secondary-color);
      font-size: 2.5rem;
      line-height: 3rem;
      font-weight: 400;
    }
  }

  .search {
    display: flex;
    align-items: center;
    position: relative;
    width: clamp(5rem, 45vw, 59rem);
    height: 4.1rem;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .input {
      display: flex;
      // align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 1.7rem;
      color: var(--secondary-color);
      border-radius: 10px;
      border: none;
      font-size: 2rem;
    }

    .input::placeholder {
      border: solid red 1px;
      color: rgba(228, 124, 3, 0.6);
    }

    .input:focus {
      outline: none;
    }

    .lupa {
      position: absolute;
      right: 1rem;
      height: 60%;
    }
  }

  .cart {
    display: flex;
    position: relative;
    width: 3.9rem;
    // border: solid red 1px;

    img {
      width: 100%;
      height: 100%;
    }

    .total {
      display: grid;
      place-items: center;
      background: var(--white);
      color: var(--secondary-color);
      width: 70%;
      height: 70%;
      border-radius: 100%;
      position: absolute;
      right: -1.7rem;
      top: -0.6rem;
      font: 600 1.5rem "Roboto";
    }
  }

  @media screen and (max-width: 930px) {
    .h1 {
      display: none;
    }
  }

  @media screen and (max-width: 450px) {
    .bag {
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 10px !important;
      padding: 0.3rem !important;
    }

    .cart {
      width: 3rem !important;

      .total {
        font-size: 1.1rem;
      }
    }

    .search {
      height: 3.8rem;

      .input {
        border-radius: 8px;
        font-size: 1.6rem;
        padding: 0 1rem;
      }
    }
  }
}
