.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--yellow-500);
  width: 100%;
  height: var(--header-height);
  padding: 0 2.5rem;
  border-radius: 0  0 20px 20px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    .bag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6.6rem;
      height: 6.6rem;
      background: var(--white);
      padding: 0.6rem 1rem 1rem;

      .img {
        width: 100%;
      }
    }

    .h1 {
      color: var(--blue-500);
      font-size: 2.8rem;
      line-height: 3rem;
      font-weight: 400;
    }
  }

  .search {
    display: flex;
    align-items: center;
    position: relative;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .input {
      width: 59rem;
      height: 4.1rem;
      padding: 0 1.7rem;
      color: var(--blue-500);
      display: flex;
      border-radius: 10px;
      border: none;
      font-size: 2rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .input::placeholder {
      color: rgba(4, 97, 234, 0.3);
    }

    .input:focus {
      outline: none;
    }

    .lupa {
      position: absolute;
      right: -27rem;
      height: 2.2rem;
    }
  }
  .cart {
    display: flex;
    position: relative;
    width: 3.9rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

